<div class="left-sidebar">
    <h2>Catégorie</h2>
    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Canapés-Salon
                    </a>
                </h4>
            </div>
            <div id="sportswear" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Banquettes </a></li>
                        <li><a href="#">Fauteuils </a></li>
                        <li><a href="#">Relaxation </a></li>
                        <li><a href="#">Accessoires</a></li>
                        <li><a href="#">Meubles d'appoint </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Bureaux
                    </a>
                </h4>
            </div>
            <div id="mens" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Bureaux</a></li>
                        <li><a href="#">Etagères</a></li>
                        <li><a href="#">Biblios</a></li>
                        <li><a href="#">Chaises</a></li>
                        <li><a href="#">Rangement</a></li>
                        <li><a href="#">Décoration</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Chambres
                    </a>
                </h4>
            </div>
            <div id="womens" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Adultes</a></li>
                        <li><a href="#">Enfants</a></li>
                        <li><a href="#">Bébés</a></li>
                        <li><a href="#">Dressing</a></li>
                        <li><a href="#">Meubles</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Tables</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Chaises</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Meubles</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Rangements</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Fauteuils</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Lits</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Décoration</a></h4>
            </div>
        </div>
    </div><!--/category-products-->

    <div class="brands_products"><!--brands_products-->
        <h2>A la une</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#"> <span class="pull-right">150 000 F</span>Meuble TV</a></li>
                <li><a href="#"> <span class="pull-right">250 000 F</span>Lit avec tiroirs</a></li>
                <li><a href="#"> <span class="pull-right">75 000 F</span>Table basse</a></li>
                <li><a href="#"> <span class="pull-right">160 000 F</span>Canapé fixe</a></li>
                <li><a href="#"> <span class="pull-right">35 000 F</span>Fauteuil relax</a></li>
                <li><a href="#"> <span class="pull-right">35 000 F</span>Table simple</a></li>
                <li><a href="#"> <span class="pull-right">165 000 F</span>Banqutte</a></li>
            </ul>
        </div>
    </div><!--/brands_products-->

    <div class="price-range"><!--price-range-->
        <h2>Tri par prix</h2>
        <div class="well text-center">
            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000000" data-slider-step="10000" data-slider-value="[200000,500000]" id="sl2" ><br />
            <b class="pull-left">0 F</b> <b class="pull-right">1 000 000 F</b>
        </div>
    </div><!--/price-range-->

    <div class="shipping text-center"><!--shipping-->
        <img src="{{ asset('images/home/secure.png') }}" alt="" />
    </div><!--/shipping-->

</div>